[Unit]
Description=Xen domains restart service
After=xen.service
Wants=xen.service

[Service]
Type=forking
ExecStart=/etc/init.d/xendomains start

[Install]
WantedBy=multi-user.target
